html{ background-color:#777;  }

body{ 
	
	width:960px; 
	margin:auto;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	text-align:center;
}

header, nav, section, aside, footer{
	background-color:#ebebeb;
	padding:30px;
	margin-bottom:20px;
}

section{
	width:495px;
	float:left;
	margin-right:20px;
}

article{
	background-color: #777;
	padding:10px;
}

aside{
	float:left;
	width:325px;
	height:392px;
}

h1, h2, h3, p{ background-color: #ebebeb; padding:6px; }

.clear{
	clear:both;
}